@font-face {
    font-family: 'Athalia';
    src: url("../fonts/Athalia.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: url("../fonts/Bitter-Light.ttf");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: url("../fonts/Bitter-Regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: url("../fonts/Bitter-Medium.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: url("../fonts/Bitter-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'BodoniModa';
    src: url("../fonts/BodoniModa_9pt-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}