// fonts
$font-main: 'Bitter';
$font-decorative: 'Athalia';
$font-number: 'BodoniModa';
// colors
$color-primary: #FFFFFF;
$color-secondary: #6D5B59;
$color-accent: #FBD97B;
$color-bg-primary: #FCF1EE;
$color-bg-secondary: #785a46;
$color-bg-accent: #5883a0;
// other
$anim-time: 300ms;